In [1]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\dayakar reddy sura\anaconda3\lib\site-packages (0.23.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\dayakar reddy sura\anaconda3\lib\site-packages (from mlxtend) (1.11.4)
Requirement already satisfied: numpy>=1.16.2 in c:\users\dayakar reddy sura\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\dayakar reddy sura\anaconda3\lib\site-packages (from mlxtend) (2.1.4)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\dayakar reddy sura\anaconda3\lib\site-packages (from mlxtend) (1.2.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\dayakar reddy sura\anaconda3\lib\site-packages (from mlxtend) (3.8.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\dayakar reddy sura\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\dayakar reddy sura\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\dayakar reddy sura\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dayakar reddy sura\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dayakar reddy sura\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\dayakar reddy sura\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dayakar reddy sura\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\dayakar reddy sura\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dayakar reddy sura\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dayakar reddy sura\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dayakar reddy sura\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dayakar reddy sura\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\dayakar reddy sura\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [3]:
data=pd.read_excel("C:/Users/Dayakar Reddy Sura/Downloads/Online retail.xlsx")
data.head()

  shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt

In [4]:
data.shape

(7500, 1)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                           --------------  -----
 0   shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil  7500 non-null   object
dtypes: object(1)
memory usage: 58.7+ KB

In [6]:
data.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
7495    False
7496    False
7497     True
7498     True
7499    False
Length: 7500, dtype: bool

In [7]:
data[data.duplicated(keep=False)]

     shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1                                               chutney
2                                        turkey,avocado
4                                        low fat yogurt
5                        whole wheat pasta,french fries
8                                          french fries
...                                                 ...
7490                                      herb & pepper
7491                                 chocolate,escalope
7494                                pancakes,light mayo
7497                                            chicken
7498                                 escalope,green tea

[2713 rows x 1 columns]

In [8]:
#data_clean=data.drop_duplicates()

In [9]:
#data_clean[data_clean.duplicated(keep=False)]

In [10]:
data.isnull().sum()

shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil    0
dtype: int64

In [11]:
data2=data.rename({'shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil':'things'},axis=1)
data2.head()

                                              things
0                             burgers,meatballs,eggs
1                                            chutney
2                                     turkey,avocado
3  mineral water,milk,energy bar,whole wheat rice...
4                                     low fat yogurt

In [12]:
data3=pd.get_dummies(data2,dtype='int')
data3.head()

,things_almonds,"things_almonds,cake,low fat yogurt","things_almonds,cookies","things_almonds,eggs","things_almonds,eggs,cookies","things_almonds,eggs,cooking oil,french fries,green tea","things_almonds,eggs,yogurt cake","things_almonds,french wine","things_almonds,french wine,green tea,french fries,escalope,strawberries,tomato juice,honey","things_almonds,pancakes,eggs,chocolate,french fries,mint",...,"things_yams,mineral water,energy bar,eggs,fresh bread","things_yams,mineral water,french fries","things_yams,mineral water,soup,milk,pancakes,whole wheat rice,barbecue sauce,carrots,chocolate,champagne","things_yams,mint",things_yogurt cake,"things_yogurt cake,candy bars","things_yogurt cake,energy drink","things_yogurt cake,honey","things_yogurt cake,low fat yogurt","things_yogurt cake,mint"
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
data3.shape

(7500, 5175)

### Apriori Algorithm

In [14]:
frequent_items=apriori(data3,min_support=0.0002,use_colnames=True)
frequent_items

C:\Users\Dayakar Reddy Sura\anaconda3\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:109: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

      support                                           itemsets
0    0.000267                                   (things_almonds)
1    0.000933                         (things_antioxydant juice)
2    0.000267               (things_antioxydant juice,chocolate)
3    0.000267                (things_antioxydant juice,escalope)
4    0.000267                                 (things_asparagus)
..        ...                                                ...
383  0.000267  (things_whole wheat pasta,spaghetti,mineral wa...
384  0.002400                          (things_whole wheat rice)
385  0.001067                                      (things_yams)
386  0.003333                               (things_yogurt cake)
387  0.000267                    (things_yogurt cake,candy bars)

[388 rows x 2 columns]

##### Here tried lot of support values and finally fix this

In [15]:
rules=association_rules(frequent_items,metric='confidence',min_threshold=0.001)
rules
rules.sort_values('lift')

Empty DataFrame
Columns: [antecedents, consequents, antecedent support, consequent support, support, confidence, lift, leverage, conviction, zhangs_metric]
Index: []

##### Here i think this data is not suitable for association rule

##### Antecedents: Items watched together (LHS - Left Hand Side).
##### Consequents: Items often watched after (RHS - Right Hand Side).
##### Support: Percentage of transactions that contain both antecedent and consequent.
##### Confidence: Probability of seeing the consequent in a transaction given that the antecedent is present.
##### Lift: Ratio of observed support to expected if antecedent and consequent were independent.

### Interview Questions:

#### 1.	What is lift and why is it important in Association rules?

###### Lift measures how much more likely the consequent is given the antecedent compared to its usual likelihood. Higher lift values indicate stronger associations, which are more likely to be actionable and meaningful for business insights.

###### Filtering Rules: Lift helps in filtering out uninteresting or spurious rules where the antecedent and consequent occur together just by chance. Rules with lift significantly greater than 1 are typically considered more interesting.

###### Better Decision Making: Understanding lift helps in making better decisions related to cross-selling, promotions, and product placement strategies. Rules with high lift can guide marketing efforts towards products or items that are often bought together, enhancing customer satisfaction and revenue generation.

###### While confidence indicates the likelihood of Y given X, lift provides additional context by comparing this likelihood to the baseline (independent occurrence). It thus provides a more nuanced understanding of the association's significance.

###### lift is a critical metric in association rule mining that quantifies the strength and relevance of associations between items. It helps in identifying meaningful patterns from transactional data, guiding businesses in making informed decisions related to marketing, product bundling, and customer behavior analysis

#### 2.	What is support and Confidence. How do you calculate them?

###### Support measures how frequently an itemset appears in transactions.
###### Confidence measures the reliability of the association rule between two itemsets.

###### Support:
###### Support measures the frequency of occurrence of an itemset in a dataset. It indicates how often the itemset appears in all transactions.
###### Calculation:
 
Support
(
𝑋
)
=
number of transactions containing 
𝑋
total number of transactions
Support(X)= 
total number of transactions
number of transactions containing X
​
 
Importance:

High support indicates that the itemset is frequently observed together in transactions, making it a candidate for association rule mining. However, high support alone does not necessarily indicate a strong association between items.
Confidence:
Definition:

Confidence measures the conditional probability that a transaction containing the antecedent (X) also contains the consequent (Y). It indicates how often the rule has been found to be true.
Calculation:

Confidence
(
𝑋
→
𝑌
)
=
Support
(
𝑋
∪
𝑌
)
Support
(
𝑋
)
Confidence(X→Y)= 
Support(X)
Support(X∪Y)
​
 
Interpretation:

Confidence quantifies the reliability of the association rule. A high confidence means that transactions containing X are likely to contain Y as well. It ranges from 0 to 1, where 1 indicates that the consequent always appears whenever the antecedent appears.

#### 3.What are some limitations or challenges of Association rules mining

->Association rule mining, while powerful for discovering interesting relationships in datasets
As the number of distinct items (or features) in the dataset increases, the number of possible itemsets and rules grows exponentially. This can lead to a combinatorial explosion, making it computationally expensive and challenging to find meaningful associations.

->In real-world datasets, transactions often contain only a small subset of all possible items. This sparsity can lead to infrequent itemsets with low support, making it difficult to find reliable associations.

->When testing a large number of potential rules, there is an increased risk of finding spurious associations due to random chance. This requires careful adjustment of thresholds (such as support and confidence) to control for false discoveries.

->Association rules are often sensitive to context and domain-specific knowledge. Without proper interpretation and understanding of the data and business context, discovered rules may be misleading or non-actionable.

->While association rules provide insights into co-occurrence patterns, interpreting complex rules involving multiple items or conditions can be challenging. Tools for visualizing and summarizing rules are essential for effective interpretation.